$xl: 1400px;
$lg: 1200px;
$md: 992px;
$sm: 768px;
$xs: 480px;

@mixin max-w($width) {
  @media (max-width: $width) {
    @content;
  }
}

@mixin line-clamp($lines: 1) {
  @if $lines <=1 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  @else {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
  }
}

@mixin area {
  position: relative;

  &::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 45px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}